#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

img {
  position: absolute;
  left: 0;
  bottom: 0;
}


.YES {
  background-color: #EFC3CA;
  margin-right: 200px;
}

.OMG {
  display: none;
}

.YES:hover + .OMG {
  display: block;
}

.NO {
  background-color: #dfd4d6;
}

.NYOO {
  display: none;
}

.NO:hover + .NYOO {
  display: block;
}
