/* Container for all elements */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

/* Container for text and buttons */
.text-side {
    text-align: center;
    margin-bottom: 20px;
}

/* Container for GIFs */
.gif-side {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
}

/* Style for the GIFs */
.gif-side img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80%;
    max-height: 200px;
    display: block;
}

/* Buttons styling */
.NO,
.YES {
    padding: 10px;
    margin: 10px;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
    /* Smooth transition for scaling */
}

.YES {
    background-color: #EFC3CA;
}

.NO {
    background-color: #dfd4d6;
}

.NYOO,
.OMG,
.yesDance {
    display: none;
    justify-content: center;
    align-items: center;
}
/* GIF images styling */
.NYOO img,
.OMG img,
.yesDance img {
    max-width: 80%;
    max-height: 200px;
    transition: opacity 0.3s;
}

/* Hide and show animations with opacity */
.NYOO img,
.OMG img,
.yesDance img {
    opacity: 0;
    /* Start with hidden GIFs */
    visibility: hidden;
}

.NYOO img.active,
.OMG img.active,
.yesDance img.active {
    opacity: 1;
    /* Show GIF when active */
    visibility: visible;
}

/* Phrase container styling */
.phrase-container {
    margin-top: 20px;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {}

img {
    max-width: 100%;
    height: auto;
}
